<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; }
        td, th {padding: 10px;}
    </style>
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<h2>Convert JSON data into a html table using Jquery</h2>
<p>Click the following button to convert JSON results into HTML table</p> <br>
<button id="btn" onclick="createTableFromJSON('user/getAll')"> Click Here </button> <br>
<h3> Resulting Table: </h3>
<div id="container"></div>
</body>
</html>