<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Stażuj_pl</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Stazuj_pl - index</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Strona główna</a></li>
                <li class="nav-item"><a class="nav-link" href="offers">Oferty</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Wiadomości</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
<!--        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>-->
        <div class="col-lg-5">
            <h1 class="font-weight-light">Witaj, Jan Kowalski</h1>
            <p>Miło nam cię znowu widzieć!
                Aplikowałeś łącznie na <span style="color: blueviolet">8</span> ofert</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>

    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa oferty</th>
        <th scope="col">Data aplikacji</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Samsung- staż w dziale AI</td>
        <td>25.04.2023</td>
        <td><span class="application_status application_rejected">Odrzucono<span></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Apple- staż w dziale ML</td>
        <td>19.04.2023</td>
        <td><span class="application_status application_accepted">Zaakceptowano<span></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Google- 3-miesięczny staż przy tworzeniu Androida</td>
        <td>09.04.2023</td>
        <td><span class="application_status application_delivered">Dostarczono<span></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>LG- letnie praktyki z telewizorami</td>
        <td>02.03.2023</td>
        <td><span class="application_status application_pending">Oczekujący<span></td>
    </tr>
    </tbody>
</table>

</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Stazuj_pl 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
